[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = schroneko
	email = schroneko@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/username/.config/git/ignore
