# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/

# Coc.nvim
.config/coc/node_modules/
.config/coc/extensions/@yaegassy/
.config/coc/extensions/coc-json-data/
.config/coc/extensions/coc-toml-data/
.config/coc/list_history.dat
.config/coc/lists/
.config/coc/memos.json

# GitHub Copilot
.config/github-copilot/hosts.json
.config/github-copilot/apps.json

# Zed
.config/zed/conversations/
.config/zed/embeddings/
.config/zed/prompts/
